<h1>Now playing <%= @movie.title  %></h1>
<h2 id="score">Your score is <%= @score %> out of 100 . . . [TODO: Make this a sweet status bar]</h2>

<div id="quizcard">
<%= render partial: "shared/questioncard", locals: {question: @remaining_questions.first}  %>
</div>

