// Define variables for your color scheme

// For example:
$black: #171717;
$white: #fffffa;
$gray: #000000;
$light-gray: #F4F4F4;
$red: #8c271e;
$light-red: #661D16;
$prune: #5e454b;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #fea82e;
$green: #567520;
// $green: #32B796;
$brown: #4f3130;
$turqoise: #3fab9b;
$teal: #cee5d0;
$light-sand: #F1E8DA;
$sand: #d8b384;
$cream: #f3f0d7;
$sepia: rgba(217, 193, 150, 0.35);
$timberwolf: #E6CEB0;
$box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.1);
// $body-background: rgba(241, 232, 219, 0.07);

body {
  // background: rgba(241, 232, 219, 0.07);
}
