// Define variables for your color scheme

// For example:
$red: #8c271e;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #fea82e;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$brown: #4f3130;
$black: #171717;
$white: #fffffa;
$turqoise: #3fab9b;
$teal: #cee5d0;
$cream: #f3f0d7;
$sand: #d8b384;
$prune: #5e454b;
