#myVideo {
  // position: fixed;
  right: 0px;
  top: 70px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
}
.video-content {
  margin-top: 70px;
}
/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    bottom: 100px;
    left: 40px;
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    padding: 10px;
    margin-left: 40px;
}

.card-image {
  height: 100px;
}

.level_content {
  padding-top: 16px;
  justify-content: center;
}

h1 {
  margin: 20px 0;
  font-family: "bettynoir";
}

h3 {
  font-family: "medio";
}

p {
  color: rgba(110, 110, 110, 1);
  font-family: "medio";
}

h4 {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "medio";
  font-size: 32px;
}

#header {
  vertical-align: text-top;
  text-align: left;
}

.home_banner {
  // margin-top: 70px;
  position: relative;
  height: calc(100vh - 70px);
  overflow: hidden;
}

.level-details {
  margin: 45px;
  text-align: left;
  h4 {
    display: block;
  }
}


.card {
  min-height: 80px;
  position: relative;
  margin: 30px;
  margin-bottom: 50px;
  margin-top: 70px;
  background-color: $sepia;
}

.card-image {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  left: 0;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.movie-poster {
  height: 200px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
}
.level-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px;
}

.fa-lock-pos{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #333356;
  font-size: 20px;
}

.unlock-icon {
  top: 80px;
  right: 60px;
  z-index: 2;
}

.lock-design{
  filter: blur(2px);
  color: #aaa6a6;
  .card-image{
    opacity: 0.7;
  }
}

.display-none {
  display: none;
}

