.levels-container {
  margin-top: 70px;
}
.level-card {
  margin-top: 33px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-col {
  display: flex;
  justify-content: center;
  // align-items: center;
}
.level-card-width {
  width: 87.75%;
}
.level-border {
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
}
.level-content {
  width: 90%;
  margin-top: -16px;
  display: inline-flex;
  justify-content: space-between ;
  background: rgba(200, 200, 200, 0.2);
  p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 16px;
  }
}
.lens-description {
  width: 65%;
  padding: 0 25px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: $white;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
  text-align: left;
}
.movies-section {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.movie-section {
  display: flex;
  border-radius: 5px;
  background: $white;
  // background: rgba(218, 192, 155, 0.9);
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
  margin-bottom: 5px;
}
.level-poster {
  height: 200px;
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid blue;
}

.poster {
  height: 90%;
  width: auto;
  margin: 25px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
}
.movie-info {
}
.video-size {
  width: 70vw;
  height: auto;
}
.btn-center {
  text-align: center;
}
