.levels-container {
  margin-top: 70px;
}
.level-card {
  margin-top: 33px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-col {
  display: flex;
  justify-content: center;
}
.level-card-width {
  width: 87.75%;
}
.level-border {
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
}
.level-content {
  width: 90%;
  display: flex;
  justify-content: space-between ;
  margin: -16px auto 0 auto;
  p {
    font-family: $body-font;
    font-weight: 300;
    font-size: 16px;
  }
}
.lens-description {
  flex: 1 1 40%;
  padding: 0 25px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: $box-shadow;
  text-align: left;
}
.movies-section {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.movie-section {
  display: flex;
  border-radius: 5px;
  background: white;
  box-shadow: $box-shadow;
  margin-bottom: 10px;
  padding: 10px;
}
.level-poster {
  height: 200px;
  width: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  height: 90%;
  width: auto;
  margin: 25px;
  box-shadow: $box-shadow;
}
.movie-info {
  width: 67%;
}
.video-size {
  width: 70vw;
  height: auto;
}
.btn-center {
  text-align: center;
}
.modal-dialog {
  width: 100%;
}

.video-modal {
  width: 80vw;
  height: 70vh;
}
