li {
  font-family: 'Open Sans';
  font-size: 20px;
  color: $white;
  opacity: 0.9;
}
a {
  color: $white;
  text-decoration: none;
  &:hover {
  color: $timberwolf;
  // color: $sand;
  text-decoration: none;
  }
}
#score, h2 {
  font-family: 'medio'
}
.answer-card {
  width: 100%;
  height: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(80, 80, 80, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.answer-form {
  margin-top: -35px;
  p {
  font-family: 'Open Sans';
  color: #babab6;
  margin-top:12.5px;
  }
  h4 {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
.btn-margin-top {
  margin-top: 10px;
  max-width: 190px;
}
.question-content {
  margin-top: -60px;
  h3 {
    font-family: medio;
  }
}
.good-answer-green {
  color: $green;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.05);
}
.wrong-answer-red {
  color: $red;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.05);
}
.quote-response {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
a > i {
  padding-right: 13px;
}
.win-center {
  text-align: center;
}

