
<div class="answer-card" >
  
  <%= image_tag('quiz-card2-top', class: 'card-top') %>

  <div class="answer-form">

    <h3>Hooray!</h3>

    <p>You have completed this movie!</p>

    <% if @movie.level.completed?(current_user) == false %>
      <a class="btn btn-sand" href='/levels/<%= movie.level.id %>'>Let's Watch The Next Movie!</a>
    <% end %>

    <% if @movie.level.completed?(current_user) == true %>
      <p>And You've Completed This Level!</p>
      <a class="btn btn-sand" href="/#level<%= movie.level.number + 1 %>">Let's Master The Next Level . . . </a>
    <% end %>

  </div>
  <%= image_tag('quiz-card2-bot-3', class: 'card-bot') %>
</div>
