<div class="home_banner">
  <video autoplay muted loop id="myVideo">
    <source src="<%= video_path "mov.mp4" %>" type="video/mp4">
  </video>

  <div class="content">
    <header id="header">
      <div class="text">
        <h1>Movie Master</h1>
        <p>Learn to Watch</p>
      </div>
      <button class="btn btn-red">Click Me!</button>
    </header>
  </div>
</div>
