<div class="video-content">
  <div class="home_banner">
    <video autoplay muted loop id="myVideo">
      <source src="<%= video_path "mov.mp4" %>" type="video/mp4">
    </video>

    <div class="content">
      <header id="header">
        <div class="text">
          <h1>Movie Master</h1>
          <h3>Learn to Watch</h3>
        </div>
        <br>
        <a class="btn btn-red" href='#begin'>...and Action!</a>
      </header>
    </div>
  </div>

</div>

<div class="container container-overflow-hide" id="begin">
  <% @victory = false %>
  <% @victory = true if !current_user.nil? && current_user.level_up? %>
    <div class="card-confetti-wrapper">
      <% if @victory == true %>
        <% for i in 0...25  %>
          <%= image_tag "confetti-#{i % 11}", class: "top-confetti-#{i}" %>
        <% end %>
      <% end %>
    </div>
    <div class="row" >
      <% display_number = 3 %>
      <% if !current_user.nil? %>
        <% now_playing_level = current_user.level.number  %>
        <% display_number = now_playing_level + 1 if now_playing_level > 2 %>
      <% else %>
        <% now_playing_level = 1 %>
      <% end %>
      <% @levels.first(display_number).each do |level| %>
        <div class="col-xs-12" id="level<%= level.number %>">
          <%= render partial: "shared/levelcard", locals: {level: level, victory: @victory}  %>
        </div>
        <% if !current_user.nil? && now_playing_level == level.number %>
          <h3 style = "text-align: center;">Coming Soon . . .</h3>
        <% end %>
      <% end %>
    </div>
</div>

<% if @victory == true %>
  <script>
  var shimmerCard = document.querySelector(".card-shimmer")
  shimmerCard.classList.remove("display-none");
  setTimeout(function() {shimmerCard.classList.add("display-none")}, 6000);
  </script>
<% end %>

