<div class="container text-center levels-container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <% img = "0" + @level.number.to_s + ".jpg" %>
        <div class="card-image" style="background-image: url('<%= asset_path(img) %>');"></div>
        <% image_tag "0" + @level.number.to_s + ".jpg" %>
          <div class="">
            <h4><%= @level.name  %></h4>
          </div>
      </div>
    </div>
  </div> 
</div>
