/* Your button CSS code here */

/*THIS IS THE TEPLATE FOR A RED BUTTON. WE CAN COPY IT WITH OTHER COLORS IN THE PALETTE AND THEN DECIDE ON EXACTLY WHICH BUTTONS WE LIKE MOST*/

.btn-red {
  color: white;
  padding: 15px 25px;
  border-radius: 3px;
  font-weight: bold;
  text-decoration: none;
  background: $red;
  transition: background 0.9s ease;

}
.btn-red:hover {
  /*opacity: 0.4;*/
  background: transparent;
  /*background: $light-sand;*/
  border: 1px solid $red;
  text-decoration: none;
  color: $white;
  /*color: $red;*/
}

.btn-danger-reverse {
  background-color: transparent;
  color: $red;
}
.btn-prune {
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  background: $prune;
  transition: background 0.9s ease;

}
.btn-prune:hover {
  opacity: 1;
  background: transparent;
  border: 1px solid $prune;
  text-decoration: none;
  color: $prune;
}





.btn-sand {
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  background: $sand;
  transition: background 0.9s ease;

}
.btn-sand:hover {
  opacity: 1;
  background: transparent;
  border: 1px solid $sand;
  text-decoration: none;
  color: $sand;
}


.btn-teal {
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  background: $teal;
  transition: background 0.9s ease;

}
.btn-teal:hover {
  opacity: 1;
  background: transparent;
  border: 1px solid $teal;
  text-decoration: none;
  color: $teal;
}

