.btn-danger {
  background: $red;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  transition: background 0.3s ease;
  &:hover {
    background-color: $light-red;
    color: white;
  };
}

.btn-danger-reverse {
  background-color: transparent;
  color: $red;
  border: 1px solid $red;
  transition: background 0.3s ease;
  &:hover {
    background-color: $light-sand;
    color: $red;
  };
  &:active {
    background-color: transparent;
    color: $red;
  };
  &:focus {
    background-color: $light-sand;
    color: $red;
    outline: none;
  };

}
/* Your button CSS code here */

/*THIS IS THE TEPLATE FOR A RED BUTTON. WE CAN COPY IT WITH OTHER COLORS IN THE PALETTE AND THEN DECIDE ON EXACTLY WHICH BUTTONS WE LIKE MOST*/

.btn-red {
  background: $red;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  /*font-weight: bold;*/
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    background: $light-red;
    /*border: 1px solid $red;*/
    text-decoration: none;
    color: $white;
  }
}


.btn-prune {
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  background: $prune;
  transition: background 0.9s ease;

}
.btn-prune:hover {
  opacity: 1;
  background: transparent;
  border: 1px solid $prune;
  text-decoration: none;
  color: $prune;
}

.btn-light-sand {
  opacity: 1;
  border-radius: 3px;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid $timberwolf;
  text-decoration: none;
  color: $timberwolf;
  transition: all 0.2s ease;
  &:hover {
    color: $white;
    text-shadow: 1px 1px 3px rgba(100, 100, 100, 0.4);
    text-decoration: none;
    background: rgba(230, 206, 176, 0.8);
  }
}




.btn-sand {
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  background: $sand;
  transition: background 0.9s ease;

}
.btn-sand:hover {
  opacity: 1;
  background: transparent;
  border: 1px solid $sand;
  text-decoration: none;
  color: $sand;
}


.btn-teal {
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
  background: $teal;
  transition: background 0.9s ease;

}
.btn-teal:hover {
  opacity: 1;
  background: transparent;
  border: 1px solid $teal;
  text-decoration: none;
  color: $teal;
}

