.container-overflow-hide {
  overflow: hidden;
  // max-height: 100vh;
}

[class|="confetti"] {
  position: absolute;
}

@for $i from 0 to 90 {
  $l: random(90);
  .confetti-#{$i} {
    height: auto;
    width: 100px;
    opacity: 0;
    top: -20%;
    left: unquote($l + "%");
    transform: rotate(0);
    animation: rain-#{$i} 10s unquote(random(60)+"s");
    z-index: 10;
  }

  @keyframes rain-#{$i} {
    0% {
      opacity: 1;
    }
    100% {
      top: 100%;
      left: unquote($l + random(15) + "%");
      transform: rotate(#{random()*900}deg);
    }
  }
}


